{% extends 'content_base.html.twig' %}
{% block title %} Admin {% endblock %}
    {% block content_body %}
        <a href="{{ path('admin_article_new') }}" class="btn btn-primary pull-right">
            Create <span class="fa fa-plus-circle"></span>
        </a>
        <h1>All Articles</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.title }}</td>
                    <td>
                        <a href={{ path('admin_article_update', { id: article.id}) }}
                           <span class="fa fa-pencil"></span>
                        </a>
                    </td>
                    <td>
                        <a href={{ path('admin_article_delete', {id: article.id}) }}>
                            <span class="fa fa-remove"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endblock %}

